{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="card border shadow-lg p-5 login-card mx-3">
        <h1 class="mb-4 text-center">Cadastro</h1>

        <form method="POST">
            {% csrf_token %}

            <div class="input-group mb-4 mt-2">
                <span class="input-group-text">
                    <i class="bi bi-person"></i>
                </span>
                <div class="form-floating">
                    <input type="text" name="username" class="form-control" placeholder="Nome" required>
                    <label>Nome</label>
                </div>
            </div>

            <div class="input-group mb-4 mt-2">
                <span class="input-group-text">
                    <i class="bi bi-envelope"></i>
                </span>
                <div class="form-floating">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                    <label>Email</label>
                </div>
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text">
                    <i class="bi bi-lock"></i>
                </span>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" placeholder="Senha" required>
                    <label>Senha</label>
                </div>
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text">
                    <i class="bi bi-lock"></i>
                </span>
                <div class="form-floating">
                    <input type="password" name="confirm_password" class="form-control" placeholder="Confirmar senha"
                        required>
                    <label>Confirme a senha</label>
                </div>
            </div>

            <button type="submit" class="mt-4 btn btn-danger w-100">
                Cadastrar
            </button>

        </form>

        <a href="{% url 'login' %}" class="text-center mt-3 text-muted text-decoration-none d-block">
            Já tem conta? <span class="text-danger fw-medium">Entrar</span>
        </a>

    </div>
</div>

{% endblock %}