{% extends 'core/frame.html' %}

{% block frame_content %}
<div class="d-flex flex-column justify-content-center align-items-center">

    <h1 class="mb-4 text-center">Pesquisar</h1>

    <div class="shadow-lg w-100" style="max-width:300px;">

        <form method="GET" action="{% url 'search' %}">
            <div class="input-group">

                <input type="text" name="q" class="form-control" placeholder="Buscar serviço...">

                <button class="btn btn-danger" type="submit">
                    <i class="bi bi-search"></i>
                </button>

            </div>
        </form>

    </div>

    <div class="row g-4 mt-5">

        {% for service in services %}

        <div class="col-12 col-md-6 col-lg-4">

            <div class="card shadow-sm p-3">

                <h5>{{ service.title }}</h5>

                <p>Preço: R$ {{ service.price }}</p>

                <p>Duração: {{ service.duration }} min</p>

            </div>

        </div>

        {% empty %}

        <p class="text-center">Nenhum serviço encontrado.</p>

        {% endfor %}

    </div>

</div>
{% endblock %}